.single-image-section {
  text-align: initial;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  img {
    display: block;
    width: 100%;
    order: 3;
    height: 100%;
    object-fit: cover;
  }
  .single-image-section__content {
    padding: 2rem 1rem;
    div + div {
      margin-top: 2rem;
    }
  }
}

.single-image-section__content {
  align-self: center;
  padding: 2rem 1rem 0rem 1rem;
  h4 {
    color: $color--first-heading;
    font-size: 1.1rem;
    letter-spacing: 0;
  }
  p {
    color: $color--lightest;
    font-size: 0.85rem;
    line-height: 1.3rem;
  }
}

@media (min-width: 550px) {
  .single-image-section {
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr;
    img {
      order: 1;
    }
  }

  .single-image-section__content {
    padding: 1rem;
    order: 1;
    padding: 0;
    h4 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
}

@media (min-width: 685px) {
  .single-image-section {
    grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
  }

  .single-image-section__content {
    order: 1;
    padding: 0 1rem;
    h4 {
      font-size: 1.4rem;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.6rem;
    }
  }
}

@media (min-width: 900px) {
  .single-image-section__content {
    padding: 0 5rem;
  }
}
