$color--lightest: #ffffff;
$color--light: #fafafa;

$color--medium-background: #9aa5aa;
$color--dark-background: #394951;

$color--first-heading: #ff8673;
$color--secondary-headings: #9d5c5f;

$font--heading-family: "Poppins", sans-serif;
$font--logo: 'Unica One', cursive;


