h2, h3 + p, ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.9rem;
  margin-top: 0.6rem;
}

@media only screen and (min-width: 685px) {
  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin-top: 2.9rem;
}

h3 + p {
  font-size: 0.8rem;
}

h3 + aside {
  margin: 2rem 0 2rem 0;
}

@media only screen and (min-width: 745px) {
  h3 {
    font-size: 2.5rem;
    margin-top: 0;
  }
  h3 + p {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1.2rem;
}

h4 + p {
  padding: 0;
}

@media only screen and (min-width: 685px) {
  h4 {
    font-size: 1.7rem;
    margin-top: 0;
  }
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
}

@media only screen and (min-width: 685px) {
  p {
    font-size: 0.9rem;
  }
}

a {
  text-decoration: none;
  color: #eaddd9;
  font-weight: 700;
  letter-spacing: 1px;
}

header {
  background: #394951;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem 0;
}

header li + li {
  margin-left: 1rem;
}

header ul {
  margin-top: 1.2rem;
}

header ul li a {
  font-size: 0.9rem;
}

.header__link {
  font-family: "Unica One", cursive;
  font-size: 1.6rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ff8673;
  padding: 0.25rem 3.75rem;
}

.header__nav ul li {
  list-style: none;
  display: inline;
}

@media only screen and (min-width: 745px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1.25rem 4.5rem;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  header li + li {
    margin-left: 2rem;
  }
  header ul {
    margin-top: 0;
  }
  header ul li a {
    font-size: 1rem;
  }
}

section {
  text-align: center;
  padding: 3.5rem 1rem 2rem 1rem;
  background: #394951;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

section:nth-child(even) {
  background: #fafafa;
}

section h2 {
  color: #9d5c5f;
}

article {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article h3 {
  color: #9d5c5f;
}

article p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0;
  padding: 0 1rem;
}

article div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1rem;
}

@media (min-width: 745px) {
  section {
    padding: 2em 5rem;
  }
  article {
    padding-top: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  article img {
    margin-top: 0;
    display: block;
  }
  article:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  article .article__item {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h3 + p {
    font-size: 0.8rem;
  }
}

@media (min-width: 1100px) {
  section {
    padding: 4rem 9rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h3 + p {
    font-size: 1rem;
  }
}

aside {
  margin: 1rem 0 0 0;
}

aside img {
  margin: 2%;
  width: 25%;
  border: 4px solid #ffffff;
}

.thumbnail__heading {
  margin-top: 0;
  padding-top: 2rem;
  color: #ff8673;
}

.thumbnail {
  padding-top: 0;
}

@media (min-width: 900px) {
  aside img {
    margin: 1%;
    width: 13%;
  }
  .thumbnail__heading {
    margin-top: 2rem;
  }
  .thumbnail {
    padding: 2rem 8rem 2rem 8rem;
    margin: 1rem 0 0 0;
  }
}

.small-collage {
  padding: 2rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  grid-gap: 1rem;
  text-align: initial;
}

.small-collage h4 {
  color: #9d5c5f;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.small-collage p {
  font-size: 0.85rem;
  line-height: 1.3rem;
}

.small-collage .small-collage-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.small-collage__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
      grid-template-areas: "a1 a2" "b12 b12";
}

.small-collage__item div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.small-collage__item .ab3 {
  display: none;
}

.a1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a1;
}

.a2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a2;
}

.ab3 {
  grid-area: ab3;
}

.b12 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: b12;
}

@media (min-width: 500px) {
  .small-collage {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    padding: 2rem 0;
  }
  .small-collage h4 {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
  .small-collage p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .small-collage .small-collage-content {
    padding: 0 2rem;
  }
  .small-collage__item {
    padding: 0 2rem;
    grid-gap: 2rem;
  }
}

@media (min-width: 600px) {
  .small-collage {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  .small-collage .small-collage-content {
    padding: 4rem;
  }
  .small-collage__item {
    grid-gap: 2rem;
    padding: 0 4rem;
  }
}

@media (min-width: 685px) {
  .small-collage {
    padding: 3.5rem 1rem 2rem 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 2rem;
    text-align: initial;
  }
  .small-collage .small-collage-content {
    padding: 0 3.5rem;
  }
  .small-collage__item {
    padding: 0;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
        grid-template-areas: "a1 a2" "b12 b12";
  }
}

@media (min-width: 1200px) {
  .small-collage .ab3 {
    display: block;
  }
  .small-collage__item {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    padding: 0;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
        grid-template-areas: "a1 a2 ab3" "b12 b12 ab3";
  }
}

.single-image-section {
  text-align: initial;
  display: -ms-grid;
  display: grid;
  padding: 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 0;
}

.single-image-section img {
  display: block;
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-image-section .single-image-section__content {
  padding: 2rem 1rem;
}

.single-image-section .single-image-section__content div + div {
  margin-top: 2rem;
}

.single-image-section__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2rem 1rem 0rem 1rem;
}

.single-image-section__content h4 {
  color: #ff8673;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.single-image-section__content p {
  color: #ffffff;
  font-size: 0.85rem;
  line-height: 1.3rem;
}

@media (min-width: 550px) {
  .single-image-section {
    -ms-grid-columns: 2fr 5fr;
        grid-template-columns: 2fr 5fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .single-image-section img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .single-image-section__content {
    padding: 1rem;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
  }
  .single-image-section__content h4 {
    font-size: 1.2rem;
  }
  .single-image-section__content p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media (min-width: 685px) {
  .single-image-section {
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
  }
  .single-image-section__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 1rem;
  }
  .single-image-section__content h4 {
    font-size: 1.4rem;
  }
  .single-image-section__content p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}

@media (min-width: 900px) {
  .single-image-section__content {
    padding: 0 5rem;
  }
}

.collage-section {
  padding: 3rem 1rem 2rem 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1rem auto;
      grid-template-columns: auto 1rem auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 0;
}

.collage-section img {
  display: block;
}

.collage-section .collage-section__middle {
  background: #9aa5aa;
  padding: 1rem;
  margin: 0 -8rem 0 -8rem;
  z-index: 1;
  text-align: initial;
}

.collage-section h4 {
  color: #ffaf89;
  font-size: 1.1rem;
  letter-spacing: 0;
}

.collage-section p {
  color: #ffffff;
  font-size: 0.85rem;
  line-height: 1.3rem;
}

.collage-section__item-1,
.collage-section__item-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1rem 0;
      grid-template-areas: "lb1" "la2";
}

.collage-section__item-1 img,
.collage-section__item-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.la1 {
  display: none;
}

.lb1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lb1;
}

.la2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: la2;
}

.lb2 {
  display: none;
}

.collage-section__item-2 {
      grid-template-areas: "ra1" "rb1";
}

.ra1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ra1;
}

.rb1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: rb1;
}

.ra2 {
  display: none;
}

.rb2 {
  display: none;
}

@media (min-width: 500px) {
  .collage-section .collage-section__middle {
    padding: 1rem 2rem;
    margin: 0 -10rem 0 -10rem;
  }
}

@media (min-width: 685px) {
  .collage-section {
    padding: 4rem;
    grid-gap: 4rem 0;
  }
  .collage-section .collage-section__middle h4 {
    font-size: 1.4rem;
  }
  .collage-section .collage-section__middle p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}

@media (min-width: 1100px) {
  .collage-section {
    padding: 8rem;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-gap: 0;
  }
  .collage-section .collage-section__middle {
    padding: 4rem;
    margin: 0 -6rem 0 -6rem;
    z-index: 1;
  }
  .collage-section .collage-section__middle h4 {
    font-size: 1.4rem;
  }
  .collage-section .collage-section__middle p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .collage-section__item-1,
  .collage-section__item-2 {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: 1fr 0.65fr 1fr;
        grid-template-rows: 1fr 0.65fr 1fr;
    grid-gap: 1.5rem;
        grid-template-areas: "la1 lb1" "la1 lb2" "la2 lb2";
  }
  .la1 {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: la1;
  }
  .lb1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: lb1;
  }
  .la2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: la2;
  }
  .lb2 {
    display: block;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: lb2;
  }
  .collage-section__item-2 {
        grid-template-areas: "ra1 rb2" "ra2 rb2" "ra2 rb1";
  }
  .ra1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ra1;
  }
  .rb1 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: rb1;
  }
  .ra2 {
    display: block;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: ra2;
  }
  .rb2 {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: rb2;
  }
}

.hero-container {
  background-image: url(../../images/header/header-small.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  padding: 0;
}

.hero-container .hero-container-bg {
  background-image: radial-gradient(farthest-corner at 50% 50%, rgba(57, 73, 81, 0.5), rgba(12, 32, 42, 0.5));
  display: -ms-grid;
  display: grid;
  padding: 0 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container div h1 {
  font-size: 1.6rem;
  color: #ff8673;
}

.hero-container div h1 + p {
  color: #f0f0f0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 7.5rem;
}

@media (min-width: 745px) {
  .hero-container {
    background-image: url(../../images/header/header-large.jpg);
  }
  .hero-container-bg div {
    -ms-grid-column-align: left;
        justify-self: left;
    max-width: 50%;
    margin-left: 5%;
  }
  .hero-container-bg div h1 {
    font-size: 2rem;
  }
  .hero-container-bg div h1 + p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1100px) {
  .hero-container-bg div {
    max-width: 40%;
  }
  .hero-container-bg div h1 {
    font-size: 3rem;
  }
  .hero-container-bg div h1 + p {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

footer {
  background: #2d3039;
  padding: 2.25rem 0 2.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

footer ul {
  margin-top: 1.25rem;
}

footer ul li a {
  font-size: 0.9rem;
}

footer li + li {
  margin-left: 1rem;
}

footer .footer__link {
  font-family: "Unica One", cursive;
  font-size: 1.6rem;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ff8673;
  padding: 0.25rem 3.75rem;
}

footer .footer__nav ul li {
  list-style: none;
  display: inline;
}

@media (min-width: 685px) {
  footer {
    padding: 3.5rem 2.5rem;
  }
  footer li + li {
    margin-left: 2rem;
  }
  footer ul li a {
    font-size: 1rem;
  }
}

body {
  margin: 0;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */